
.charts-container {
  display: flex;
  flex-flow: row wrap;
  flex:  0 0 100%;
  justify-content: center;
}

.charts-row {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 100%;
  justify-content: center;
}